@font-face {
    font-family: 'Barbra';
    src: url('static/fonts/Barbra-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Clear-Sans';
    src: url('static/fonts/ClearSans-Regular.ttf') format('truetype');
}

.html {
    font-family: 'Clear-Sans';
}

.diagonal {
    transform: rotateZ(-10deg);
    width: 25%;
    height: 60px; 
    border-radius: 0.8em;
    background: repeating-linear-gradient(
      -45deg,      
      black,    
      black 15px, 
      white 15px,   
      white 30px      
    );
}