<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="diagonal"></div>
        <div class="container">
            <img src="/static/img/pipoca.png" alt="">
            <img src="/static/img/pipoca2.png" alt="" id="pipoca2">
            <div>
                <h1>Faça seu login</h1>
                <p>Ainda não tem uma conta? <u id="redirecionar-cadastro">Criar uma</u></p>
            </div>   
            <form action="">
                <input type="email" name="" id="" placeholder="Digite seu e-mail">
                <input type="password" name="" id="" placeholder="Digite sua senha">
                <button class="enviar" id="enviar-login"><b>Salvar</b></button>
            </form>  
        </div>
    </header>
</body>
</html>