<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova lista</title>
    <link rel="stylesheet" href="/static/css/nova-lista.css">
</head>
<body>
    <div class="diagonal"></div>
    <div class="container-principal">
        <h1>Cadastro de lista</h1>
        <form action="">
            <input type="text" placeholder="Nome da lista" class="nome-da-lista">
        </form>
        <div class="lista-privada">
            <label>Tornar lista privada</label>
            <div class="toggle-switch">
                <input type="checkbox" id="switch" />
                <label for="switch"></label>
            </div>
        </div>

        <div class="pesquisa-filmes">
            <form action="">
                <input type="text" placeholder="Pesquise o nome de uma produção" class="nome-da-lista" id="pesquisa-filmes">
            </form>
            <div class="lista-filmes">
                <div id="poster-lista-filmes">
                    
                </div>
            </div>
        </div>
        <div class="botao">
            <button>Salvar</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/nova-lista.js"></script>
</body>
</html>
