<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmoteca</title>
    <link rel="stylesheet" href="/static/css/pagina-principal.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="stack">
        <div id="header-video-background">
            <video autoplay loop muted playsinline class="background-video">
                <source src="/static/img/video-fundo.mp4" type="video/mp4">
                Seu navegador não suporta vídeos.
            </video>
        </div>

        <div id="header-gradiente"></div>

        <div id="header-title">
            <div id="header-texto">
                <h1 id="header-h1">Filmoteca</h1>
                <p id="header-p">Lorem ipsum dolor sit amet consectetur adisciping elit</p>
            </div>    
        </div>
    </div>
    <article>
        <div class="info-perfil">
            <p id="texto-info-perfil">Olá, {{session['usuario']['usuario']}}!</p>
            <img src="https://i.pinimg.com/736x/a9/dd/80/a9dd804fbc37cd88768103e7cf657def.jpg" alt="" class="foto-info-perfil">
        </div>

        <div class="lista-filmes">
            <div id="titulo-lista-filmes"><img src="/static/img/estrela.png" alt=""> <p>Favoritos</p></div>
            <div id="poster-lista-filmes">
                <div class="poster-titulo">
                    <img src="https://img.elo7.com.br/product/zoom/259A7AA/big-poster-filme-vingadores-ultimato-lo001-tamanho-90x60-cm-poster-marvel.jpg" alt="">
                    <div class="titulo-filme"><p>Vingadores Ultimato</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://img.elo7.com.br/product/zoom/259A7AA/big-poster-filme-vingadores-ultimato-lo001-tamanho-90x60-cm-poster-marvel.jpg" alt="">
                    <div class="titulo-filme"><p>Vingadores Ultimato</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://img.elo7.com.br/product/zoom/259A7AA/big-poster-filme-vingadores-ultimato-lo001-tamanho-90x60-cm-poster-marvel.jpg" alt="">
                    <div class="titulo-filme"><p>Vingadores Ultimato</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://img.elo7.com.br/product/zoom/259A7AA/big-poster-filme-vingadores-ultimato-lo001-tamanho-90x60-cm-poster-marvel.jpg" alt="">
                    <div class="titulo-filme"><p>Vingadores Ultimato</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://img.elo7.com.br/product/zoom/259A7AA/big-poster-filme-vingadores-ultimato-lo001-tamanho-90x60-cm-poster-marvel.jpg" alt="">
                    <div class="titulo-filme"><p>Vingadores Ultimato</p></div>
                </div>
                <div class="ver"><p>Ver "Favoritos"</p></div>
            </div>
        </div>

        <div class="lista-filmes">
            <div id="titulo-lista-filmes"><img src="/static/img/estrela.png" alt=""> <p>Quero assistir</p></div>
            <div id="poster-lista-filmes">
                <div class="poster-titulo">
                    <img src="https://uauposters.com.br/media/catalog/product/2/5/259420220222-uau-posters-the-batman-filmes-7.jpg" alt="">
                    <div class="titulo-filme"><p>O Batman</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://uauposters.com.br/media/catalog/product/2/5/259420220222-uau-posters-the-batman-filmes-7.jpg" alt="">
                    <div class="titulo-filme"><p>O Batman</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://uauposters.com.br/media/catalog/product/2/5/259420220222-uau-posters-the-batman-filmes-7.jpg" alt="">
                    <div class="titulo-filme"><p>O Batman</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://uauposters.com.br/media/catalog/product/2/5/259420220222-uau-posters-the-batman-filmes-7.jpg" alt="">
                    <div class="titulo-filme"><p>O Batman</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://uauposters.com.br/media/catalog/product/2/5/259420220222-uau-posters-the-batman-filmes-7.jpg" alt="">
                    <div class="titulo-filme"><p>O Batman</p></div>
                </div>
                <div class="ver"><p>Ver "Quero assistir"</p></div>
            </div>
        </div>

        <div class="lista-filmes">
            <div id="titulo-lista-filmes"><img src="/static/img/estrela.png" alt=""> <p>Piores</p></div>
            <div id="poster-lista-filmes">
                <div class="poster-titulo">
                    <img src="https://br.web.img3.acsta.net/pictures/22/08/09/21/09/3949781.jpg" alt="">
                    <div class="titulo-filme"><p>Continência ao amor</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://br.web.img3.acsta.net/pictures/22/08/09/21/09/3949781.jpg" alt="">
                    <div class="titulo-filme"><p>Continência ao amor</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://br.web.img3.acsta.net/pictures/22/08/09/21/09/3949781.jpg" alt="">
                    <div class="titulo-filme"><p>Continência ao amor</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://br.web.img3.acsta.net/pictures/22/08/09/21/09/3949781.jpg" alt="">
                    <div class="titulo-filme"><p>Continência ao amor</p></div>
                </div>
                <div class="poster-titulo">
                    <img src="https://br.web.img3.acsta.net/pictures/22/08/09/21/09/3949781.jpg" alt="">
                    <div class="titulo-filme"><p>Continência ao amor</p></div>
                </div>
                <div class="ver"><p>Ver "Piores"</p></div>
            </div>
        </div>
    </article>

    <form class="container-nova-lista">
        <button class="nova-lista">
            <img src="/static/img/plus.png" alt="">
            <p>Nova lista</p>
        </button>
    </form>
    <script src="/static/js/home.js"></script>
</body>
</html>