<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmoteca</title>
    <link rel="stylesheet" href="/static/css/pagina-principal.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="stack">
        <div id="header-video-background">
            <video autoplay loop muted playsinline class="background-video">
                <source src="/static/img/video-fundo.mp4" type="video/mp4">
                Seu navegador não suporta vídeos.
            </video>
        </div>

        <div id="header-gradiente"></div>

        <div id="header-title">
            <div id="header-texto">
                <h1 id="header-h1">Filmoteca</h1>
                <p id="header-p">Lorem ipsum dolor sit amet consectetur adisciping elit</p>
            </div>    
        </div>
    </div>
    <article>
        
    </article>
</body>
</html>