<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar e-mail</title>
    <link rel="stylesheet" href="/static/css/verificar.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="diagonal"></div>
        <div class="container">
            <div>
                <h1>Verificar e-mail</h1>
                <p>Verifique seu e-mail para ativar a conta.</p>
                <a class="enviar" href="/"><b>Voltar</b></a>
            </div>
        </div>
    </header>
</body>
</html>